@reference "#global.css";

.block-editor__list {
  @apply my-1 ps-6;
}

.block-editor__list-item > .block-editor__list {
  @apply my-0;
}

.block-editor__list--ordered {
  list-style-type: decimal;
}

.block-editor__list--unordered {
  list-style-type: disc;
}

.block-editor__list--unordered-depth-disc {
  list-style-type: disc;
}

.block-editor__list--unordered-depth-circle {
  list-style-type: circle;
}

.block-editor__list--unordered-depth-square {
  list-style-type: square;
}

.block-editor__list-item {
  @apply my-0.5;
}

.block-editor__list-item--checked,
.block-editor__list-item--unchecked {
  @apply relative list-none ps-6 outline-none;
}

.block-editor__list-item--checked::before,
.block-editor__list-item--unchecked::before {
  @apply border-muted-foreground/70 bg-background text-primary absolute inset-s-0 top-[0.35em] size-3.5 rounded-[3px] border text-[10px] leading-[12px];
  content: "";
}

.block-editor__list-item--checked::before {
  @apply border-primary bg-primary/10 text-center;
  content: "✓";
}

.block-editor__list-item--checked {
  @apply text-muted-foreground;
}

.block-editor__list-item::marker {
  @apply text-muted-foreground;
}
